
.full-body{
  height:100%;
  overflow: auto;
  transform-origin: left bottom;
  background-size:100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.loginForm {
  /* margin-top:12%; */
  padding:30px;
  min-width:450px;
}

.row {
  margin-bottom: 0px;
}
