<div class="full-body valign-wrapper">


  <div class="center-align z-depth-3 row loginForm galaxy">
    <div class="row">
        <!-- <img src="/assets/images/logo.jpg" style="width:7rem; vertical-align:bottom; " class="center" /> -->
        <span style="font-weight: bold; font-size:20px;" class="valign-wrapper" >Upload Invoices</span>
    </div><br>

    <div class="row">
      <div [formGroup]="inputForm">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="userName" type="text" class="validate" class="validate" formControlName="userName">
          <label for="userName">User name</label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix ">lock</i>
          <input id="password" type="password" class="validate" class="validate" formControlName="password">
          <label for="password">Password</label>
        </div>

        <div *ngIf="showError" class="row">
          <span style="color:red">incorrect credentials</span>
        </div>

        <button class="btn uiColorButtons btn-primary" (click)="onSubmit()">login </button>
      </div>
    </div>

  </div>
</div>
