<nav>
  <div class="nav-wrapper teal">
    <a class="brand-logo" routerLink='../companies'>Company List</a>

  </div>
</nav>

<div *ngIf='company' class="full-body">
  <div class="z-depth-2 row loginForm">
    <div [formGroup]="inputForm" class="row">
       <div>
         <span style='font-size: 24px; font-weight: bold;'>{{company.companyName}}</span>
         <button class="btn right" (click)="addNewInvoice()">add new invoice</button>
        </div>
      <div class="col s12 m12 l12">
        <div class="row col s12 m12 l12">

          <div class="row">
            <div class="col s2 m2 l2">
              <label for="companyName">Invoice Date</label>
              <input name="companyName" [(ngModel)]="createInvoice.invoiceDate" value='{{createInvoice.invoiceDate}}'
                formControlName="invoiceDate">
            </div>

            <div class="col s2 m2 l2">
              <label for="invoiceNumber">Invoice Number</label>
              <input name="invoiceNumber" [(ngModel)]="createInvoice.invoiceNumber"
                value='{{createInvoice.invoiceNumber}}' formControlName="invoiceNumber">
            </div>

            <div class="col s2 m2 l2">
              <label for="customerId">Customer ID</label>
              <input name="customerId" [(ngModel)]="createInvoice.customerId" value='{{createInvoice.customerId}}'
                formControlName="customerId">
            </div>

            <div class="col s2 m2 l2">
              <label for="billTo">Bill To</label>
              <input name="billTo" [(ngModel)]="createInvoice.billTo" value='{{createInvoice.billTo}}'
                formControlName="billTo">
            </div>
            <div class="col s2 m2 l2">
              <label for="subtotal">Subtotal</label>
              <input name="subtotal" [(ngModel)]="createInvoice.subtotal" value='{{createInvoice.subtotal}}'
                formControlName="subtotal">
            </div>
            <div class="col s2 m2 l2">
              <label for="taxable">Taxable</label>
              <input name="taxable" [(ngModel)]="createInvoice.taxable" value='{{createInvoice.taxable}}'
                formControlName="taxable">
            </div>
          </div>

          <div class="row">
            <div class="col s2 m2 l2">
              <label for="taxRate">Tax Rate</label>
              <input name="taxRate" [(ngModel)]="createInvoice.taxRate" value='{{createInvoice.taxRate}}'
                formControlName="taxRate">
            </div>

            <div class="col s2 m2 l2">
              <label for="taxDue">Tax Due</label>
              <input name="taxDue" [(ngModel)]="createInvoice.taxDue" value='{{createInvoice.taxDue}}'
                formControlName="taxDue">
            </div>

            <div class="col s2 m2 l2">
              <label for="other">Other</label>
              <input name="other" [(ngModel)]="createInvoice.other" value='{{createInvoice.other}}'
                formControlName="other">
            </div>

            <div class="col s2 m2 l2">
              <label for="total">Total</label>
              <input name="total" [(ngModel)]="createInvoice.total" value='{{createInvoice.total}}'
                formControlName="total">
            </div>
            <div class="col s2 m2 l2">
              <label for="specialNotes">Special Note</label>
              <input name="specialNotes" [(ngModel)]="createInvoice.specialNotes" value='{{createInvoice.specialNotes}}'
                formControlName="specialNotes">
            </div>
            <div class="col s2 m2 l2">
              <label for="companyName">Company Name</label>
              <input name="companyName" [(ngModel)]="createInvoice.companyName" value='{{createInvoice.companyName}}'
                formControlName="companyName">
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div style="padding-top:20px"></div>
  <div class="z-depth-2 row loginForm">
    <h5>List of Invoices</h5>
    <table class="striped" id="invoiceTable">
      <thead>
        <tr>
          <th>Invoice Date</th>
          <th>Invoice Number</th>
          <th>Customer ID</th>
          <th>Bill To</th>
          <th>Subtotal</th>
          <th>Taxable</th>
          <th>Tax Rate</th>
          <th>Tax Due</th>
          <th>Other</th>
          <th>Total</th>
          <th>Special Notes</th>
          <th>Company Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of company.invoices ; let i=index">
          <th>
            {{invoice.invoiceDate}}
          </th>
          <th>
            {{invoice.invoiceNumber}}
          </th>
          <th>
            {{invoice.customerId}}
          </th>
          <th>
            {{invoice.billTo}}
          </th>
          <th>
            {{invoice.subtotal}}
          </th>
          <th>
            {{invoice.taxable}}
          </th>
          <th>
            {{invoice.taxRate}}
          </th>
          <th>
            {{invoice.taxDue}}
          </th>
          <th>
            {{invoice.other}}
          </th>
          <th>
            {{invoice.total}}
          </th>
          <th>
            {{invoice.specialNotes}}
          </th>
          <th>
            {{invoice.companyName}}
          </th>

        </tr>
      </tbody>
    </table>
  </div>
</div>
