<nav>
  <div class="nav-wrapper teal">
    <a class="brand-logo">Company List</a>

  </div>
</nav>

<div *ngIf='companies.length>0' class="full-body">
  <div class="z-depth-2 row loginForm">
    <h4>List of companies</h4>
    <div *ngFor='let company of companies'>
      <a (click)="selectCompany(company.id)">{{company.companyName}}</a>
    </div>
  </div>
</div>
