@import './colors.scss';

a.middle-indicator-text{
  color:white !important;
}

span, a{
  font-family: 'Poppins', sans-serif;
  /* color: RGB(102,104,102); */
}

.uiColorButtons{
  background-color: $uiPathOrange;
}

 /* label color */
.input-field label {
  color: $uiPathOrange;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}



/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: $uiPathOrange
}

.btn:hover, .btn:active {
  background-color: $uiPathBlue
}
