
html,
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  overflow-y: hidden;
}


@media only screen and (max-width : 992px) {
  header,
  main,
   {
    padding-left: 0;
  }
}

body {
  min-height: 90%;
}

main{
  min-height:100%;
  width:100%;
  overflow: overlay;

}

.row {
  margin-top:10px;
}

.mainContainer {
  margin:20px;
  padding:20px;
}


.productSubMenu{
  padding-left:10px;
}

.header_badges {
  overflow: initial;
}

.themeNav {
  padding-left:10px;
}

.divider {
  margin-top:10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

a{
  cursor: pointer;
}
